html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #f2e9de;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header{
    text-align: right;
    padding-right: 50px;    
    word-spacing: 5px;
}

main{
    flex: auto;
}

footer{
    text-align: center;
}

a{
    color: #286983;
}

a:link {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.create_note{
    padding-top: 140px;
    padding-left: 350px;
}

.slider_menu > button{
    background-color:#f2e9de;
    color: #286983;
    border: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.create_note > button{
    background-color:#f2e9de;
    color: #286983;
    border: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#note{
    word-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
}

footer > p{
    color: #286983;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper{
    display: grid;
    grid-template-rows: 5rem 1fr 5rem; 
    grid-template-columns: 250px 1fr;  
    grid-template-areas: 
        'sidebar header header'
        'sidebar main main'
        'sidebar footer footer ';  
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.wrapper > .slide_out_menu{
    grid-area: sidebar;
    background-color: #faf4ed;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .slide_out_menu > button{
    background-color: #faf4ed;
    color: #286983;
    border: none;
    padding: 20px;
    float: right;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
} 

.wrapper > .slide_out_menu > h3{
    padding-left: 80px;
    padding-top: 75px;
    color: #907aa9;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .slide_out_menu > ul{
    list-style-type: none;
    padding-left: 75px;
}

.wrapper > .slide_out_menu > ul > li{
    padding: 8px;
    
}

.wrapper > .slide_out_menu > ul > li > button{
    background-color: #faf4ed;
    color: #286983;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .about{
    grid-area: header;
    text-align: right;
    padding-right: 20px;
    word-spacing: 5px;
}

.wrapper > .box{
    padding: 150px;
}

.wrapper > .box > .note_body{
    grid-area: main;
    color: #9893a5;
    width: 600px;
    height: 400px;
    background-color: #faf4ed;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .box > .plus_button{
    grid-area:main;
    float: left;
    background-color: #f2e9de;
    border: none;
    font-size: 30px;
    color: #286983;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .box > .position_save_delete{
    padding-left : 550px;    
}

.wrapper > .box > .position_save_delete > .save{
    background-color: #f2e9de;
    border: none;
    color: #286983;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .box > .position_save_delete > .delete{
    background-color: #f2e9de;
    border: none;
    color: #b4637a;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper > .footer{
    grid-area: footer;
    text-align: center;
}
.wrapper > .footer > p{
    color: #286983;
    vertical-align: text-bottom;
    font-family: 'Ubuntu', sans-serif;
}

 @media screen and (max-width: 600px) and (max-height: 860px){
    .create_note{
        padding-top: 140px;
        padding-left: 200px;
    }

    .wrapper{
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-columns: 75px 1fr;
        grid-template-areas: 
            'sidebar header header'
            'sidebar main main'
            'sidebar footer footer ';  
        gap: 5px;
        width: 100vw;
        height: 100vh;
    }
    .wrapper > .box{
        padding: 30px;
    }
    .wrapper > .box > .note_body{
        grid-area: main;
        color: #9893a5;
        width: 200px;
        height: 200px;
        background-color: #faf4ed;
        border: none;
    }
    .wrapper > .slide_out_menu > button{
        background-color: #faf4ed;
        color: #286983;
        border: none;
        padding: 20px;
        float: right;
        font-size: 30px;
    } 
    
    .wrapper > .slide_out_menu > h3{
        padding-left: 20px;
        padding-top: 75px;
        color: #907aa9;
    }
    
    .wrapper > .slide_out_menu > ul{
        list-style-type: none;
        padding-left: 5px;
    }
    
    .wrapper > .slide_out_menu > ul > li{
        padding: 2px;
    }
    
    .wrapper > .slide_out_menu > ul > li > button{
        background-color: #faf4ed;
        color: #286983;
        border: none;
    }
    
    .wrapper > .about{
        text-align:left;
        grid-area: header;
        padding-right: 20px;
        word-spacing: 5px;
    }
    .wrapper > .box > .position_save_delete{
        padding-left : 200px;    
    }
    .wrapper > .footer{
        text-align: left;
    }
}  