html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #f2e9de;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    text-align: right;
    padding-right: 50px;    
    word-spacing: 5px;
}

main{
    flex: auto;
}

footer{
    text-align: center;
}

a{
    color: #286983;
}

a:link {
    text-decoration: none;
}

.create_note{
    padding-top: 140px;
    padding-left: 350px;
}

.slider_menu > button{
    background-color:#f2e9de;
    color: #286983;
    border: none;
    font-size: 20px;
}

.create_note > button{
    background-color:#f2e9de;
    color: #286983;
    border: none;
    font-size: 20px;
}

#note{
    word-spacing: 2px;
}
