html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #f2e9de;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    text-align: right;
    padding-right: 50px;    
    word-spacing: 5px;
}

main{
    flex: auto;
}

footer{
    text-align: center;
}

a{
    color: #286983;
}

a:link {
    text-decoration: none;
}

.create_note{
    padding-top: 140px;
    padding-left: 350px;
}

.slider_menu > button{
    background-color:#f2e9de;
    color: #286983;
    border: none;
    font-size: 20px;
}

.create_note > button{
    background-color:#f2e9de;
    color: #286983;
    border: none;
    font-size: 20px;
}

#note{
    word-spacing: 2px;
}

footer > p{
    color: #286983;
}

.wrapper{
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        'sidebar header header'
        'sidebar main main'
        'sidebar footer footer ';  
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.slide_out_menu{
    grid-area: sidebar;
    background-color: #faf4ed;
}

 .slide_out_menu > button{
    background-color: #faf4ed;
    color: #286983;
    border: none;
    padding: 20px;
    float: right;
    font-size: 30px;
} 

.slide_out_menu > h3{
    padding-left: 80px;
    padding-top: 75px;
    color: #907aa9;
}

.slide_out_menu > ul{
    list-style-type: none;
    padding-left: 75px;
}

.slide_out_menu > ul > li{
    padding: 8px;
}

.slide_out_menu > ul > li > button{
    background-color: #faf4ed;
    color: #286983;
    border: none;
}

.about{
    grid-area: header;
    text-align: right;
    padding-right: 20px;
}

.box{
    padding: 100px;
}

.box > .note_body{
    grid-area: main;
    color: #9893a5;
    width: 600px;
    height: 400px;
    background-color: #faf4ed;
    border: none;
}
