html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #f2e9de;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    text-align: right;
    padding-right: 50px;    
    word-spacing: 5px;
}

main{
    flex: auto;
}

footer{
    text-align: center;
}

a{
    color: #286983;
}

a:link {
    text-decoration: none;
}

